interactions:
- request:
    body: '{"userIds": [2067807455, 1], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/users
  response:
    content: '{"data":[{"id":2067807455,"name":"ro_python","displayName":"ro_python"},{"id":1,"name":"Roblox","displayName":"Roblox"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB8404
    status_code: 200
version: 1
