interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://games.roblox.com/v1/games/multiget-place-details?placeIds=2677609345
  response:
    content: "[{\"placeId\":2677609345,\"name\":\"Sound Space \U0001F528 [UNDER MAINTENANCE]\U0001F528\",\"description\":\"Hit
      notes coming towards you on a track in unique spaces.\\r\\n\\r\\nThis game used
      to be called Blox Saber but was later renamed to Sound Space since it fits the
      game better.\\r\\n\\r\\nSHUTDOWN = UPDATE\\r\\n\\r\\nNOW SUPPORTS VR!\\r\\n\\r\\n>
      How do you play? < \\r\\n-Move your mouse around (no need to click the blocks)\\r\\n-Press
      Space to pause, hold to unpause\\r\\n-Hold R to stop the song\\r\\n\\r\\n> Custom
      Maps <\\r\\nYou can make custom maps using a map editor.\\r\\n\\r\\n> Here you
      can see what the next update will look like:\\r\\nhttps://www.roblox.com/games/2291449672/Sound-Space\",\"sourceName\":\"Sound
      Space \U0001F528 [UNDER MAINTENANCE]\U0001F528\",\"sourceDescription\":\"Hit
      notes coming towards you on a track in unique spaces.\\r\\n\\r\\nThis game used
      to be called Blox Saber but was later renamed to Sound Space since it fits the
      game better.\\r\\n\\r\\nSHUTDOWN = UPDATE\\r\\n\\r\\nNOW SUPPORTS VR!\\r\\n\\r\\n>
      How do you play? < \\r\\n-Move your mouse around (no need to click the blocks)\\r\\n-Press
      Space to pause, hold to unpause\\r\\n-Hold R to stop the song\\r\\n\\r\\n> Custom
      Maps <\\r\\nYou can make custom maps using a map editor.\\r\\n\\r\\n> Here you
      can see what the next update will look like:\\r\\nhttps://www.roblox.com/games/2291449672/Sound-Space\",\"url\":\"https://www.roblox.com/games/2677609345/Sound-Space-UNDER-MAINTENANCE\",\"builder\":\"Sound
      Space Studio\",\"builderId\":4605161,\"isPlayable\":false,\"reasonProhibited\":\"UniverseRootPlaceIsNotActive\",\"universeId\":964540701,\"universeRootPlaceId\":2677609345,\"price\":0,\"imageToken\":\"T_2677609345_9f06\"}]"
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB6056
    status_code: 200
version: 1
