interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/search?cursor=&limit=10&sortOrder=Asc&keyword=123
  response:
    content: '{"previousPageCursor":null,"nextPageCursor":"eyJzdGFydEluZGV4IjoxMCwiZGlzY3JpbWluYXRvciI6ImtleXdvcmQ6MTIzIiwiY291bnQiOjEwfQpkNmZjYzFmMWMyY2UxNDY4YzA5ZmJkMGRhZmJlMWMyN2NiNzc0MDRjNTI1OWZlYTJiYTI4MTE5Yzc4MmYxMGE3","data":[{"previousUsernames":[],"id":3520498987,"name":"123yzxiphone","displayName":"123s"},{"previousUsernames":[],"id":3406006842,"name":"123jsbsF","displayName":"123s"},{"previousUsernames":[],"id":3383886644,"name":"123sadytr","displayName":"123s"},{"previousUsernames":[],"id":3241824850,"name":"123s4576","displayName":"123s"},{"previousUsernames":[],"id":893208081,"name":"XxOofWolfxX","displayName":"123s"},{"previousUsernames":[],"id":1994808987,"name":"guest12336011","displayName":"123s"},{"previousUsernames":[],"id":409374050,"name":"ss_u","displayName":"123"},{"previousUsernames":[],"id":1458958292,"name":"smalpp3445","displayName":"123"},{"previousUsernames":[],"id":488078337,"name":"EddeGameRYYY","displayName":"123s"},{"previousUsernames":[],"id":3070932786,"name":"KING_GUN01","displayName":"123S"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB9081
    status_code: 200
version: 1
