interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://groups.roblox.com/v1/groups/10720185
  response:
    content: '{"id":10720185,"name":"Roblox Developer Community","description":"This
      is the official group for Roblox Developers! All members of the community are
      invited to join. The goal of this group is to foster teamwork and creativity
      while providing updates on events going on in the Developer Community.\n\nJoin
      the Developer Forum here: https://devforum.roblox.com/\n\nGet notifications
      about our Game Jams and Challenges on the Forum here: https://devforum.roblox.com/g/Game-Jammers\n\nMember
      of an international community? You can find the Spanish, Portuguese, and French
      groups below:\nSpanish: https://www.roblox.com/groups/7839291/Desarrolladores-de-Roblox#!/about\nPortuguese:
      https://www.roblox.com/groups/4806497/Roblox-em-Portugu-s#!/about\nFrench: https://www.roblox.com/groups/4812353/Roblox-France#!/about\nRussian:
      https://www.roblox.com/groups/12735774/Roblox#!/about","owner":{"buildersClubMembershipType":"None","userId":1912605079,"username":"Moxyll","displayName":"Moxyll"},"shout":{"body":"Check
      out our Imagination Challenge Fashion Show Celebration happening on November
      23, 2021! We''ll be showcasing all your submissions from the Imagination Challenge!
      https://www.roblox.com/games/6967544627/Imagination-Challenge-2021-Fashion-Show","poster":{"buildersClubMembershipType":"None","userId":1912605079,"username":"Moxyll","displayName":"Moxyll"},"created":"2021-05-18T12:01:47.373Z","updated":"2021-11-18T21:19:54.083Z"},"memberCount":23501,"isBuildersClubOnly":false,"publicEntryAllowed":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB8448
    status_code: 200
version: 1
