interactions:
- request:
    body: '{"usernames": ["Boegie19"], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/usernames/users
  response:
    content: '{"data":[{"requestedUsername":"Boegie19","id":117091179,"name":"Boegie19","displayName":"Boegie19"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB8985
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/117091179
  response:
    content: '{"description":"a","created":"2016-03-27T11:34:29.01Z","isBanned":false,"externalAppDisplayName":null,"id":117091179,"name":"Boegie19","displayName":"Boegie19"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB8348
    status_code: 200
version: 1
