interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/33655127
  response:
    content: '{"description":"I make free and open source projects to help you. Feel
      free to donate and support the development!\nPatreon and PP: .../boatbomberrblx","created":"2012-10-26T20:08:55.157Z","isBanned":false,"externalAppDisplayName":null,"id":33655127,"name":"boatbomber","displayName":"boatbomber"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB9017
    status_code: 200
version: 1
