interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/authenticated
  response:
    content: '{"id":2396109695,"name":"AlemannicBot","displayName":"AlemannicBot"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB872
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/2396109695
  response:
    content: '{"description":"yellow air front until queen","created":"2021-02-24T19:11:48.657Z","isBanned":false,"externalAppDisplayName":null,"id":2396109695,"name":"AlemannicBot","displayName":"AlemannicBot"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB860
    status_code: 200
version: 1
