interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://develop.roblox.com/v1/plugins?pluginIds=948084095&pluginIds=4749111907
  response:
    content: '{"data":[{"id":948084095,"name":"Tag Editor","description":"An editor
      for CollectionService tags. Check out this dev forum post for more information:
      https://devforum.roblox.com/t/tag-editor-plugin/101133\n\nSource code: tiffany352/Roblox-Tag-Editor
      on GitHub. Links are censored, sorry.\n\nPM me your questions, suggestions,
      and bug reports!","commentsEnabled":false,"versionId":10562865149,"created":"2017-07-29T21:46:49.41Z","updated":"2022-01-15T20:43:02.98Z"},{"id":4749111907,"name":"Codify
      (formerly Roactify)","description":"Codify (formerly Roactify) is a collaborative
      project between @boatbomber and @csqrl, which converts Instances to code.\n\nWhether
      you work with vanilla Instances, or use a framework like Roact or Fusion, Codify
      has you covered! Roactify converts your current selection in Studio into a snippet
      that can be instantly plopped into your code.\n\nThis plugin requires web request
      permissions (for generating snippet data) and optional script injection permissions
      (for exporting snippets to your device).\n\nhttps://devforum.roblox.com/t/473076","commentsEnabled":false,"versionId":11886955700,"created":"2020-03-03T00:50:58.963Z","updated":"2022-05-08T17:23:56.693Z"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB3597
    status_code: 200
version: 1
