interactions:
- request:
    body: '{"userIds": [2067807455, 1], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/users
  response:
    content: '{"data":[{"id":2067807455,"name":"ro_python","displayName":"ro_python"},{"id":1,"name":"Roblox","displayName":"Roblox"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB6
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/2067807455
  response:
    content: '{"description":"For use in ro.py examples.","created":"2020-12-07T20:28:33.03Z","isBanned":false,"externalAppDisplayName":null,"id":2067807455,"name":"ro_python","displayName":"ro_python"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB1482
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/1
  response:
    content: '{"description":"Welcome to the Roblox profile! This is where you can
      check out the newest items in the catalog, and get a jumpstart on exploring
      and building on our Imagination Platform. If you want news on updates to the
      Roblox platform, or great new experiences to play with friends, check out blog.roblox.com.
      Please note, this is an automated account. If you need to reach Roblox for any
      customer service needs find help at www.roblox.com/help","created":"2006-02-27T21:06:40.3Z","isBanned":false,"externalAppDisplayName":null,"id":1,"name":"Roblox","displayName":"Roblox"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB1465
    status_code: 200
version: 1
