interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://groups.roblox.com/v1/groups/10720185
  response:
    content: '{"id":10720185,"name":"Roblox Developer Community","description":"This
      is the official group for Roblox Developers! All members of the community are
      invited to join. The goal of this group is to foster teamwork and creativity
      while providing updates on events going on in the Developer Community.\n\nJoin
      the Developer Forum here: https://devforum.roblox.com/\n\nGet notifications
      about our Game Jams and Challenges on the Forum here: https://devforum.roblox.com/g/Game-Jammers\n\nMember
      of an international community? You can find international groups below:\nSpanish:
      https://www.roblox.com/groups/7839291/Desarrolladores-de-Roblox#!/about\nPortuguese:
      https://www.roblox.com/groups/4806497/Roblox-em-Portugu-s#!/about\nFrench: https://www.roblox.com/groups/4812353/Roblox-France#!/about\nRussian:
      https://www.roblox.com/groups/12735774/Roblox#!/about\nFilipino: https://www.roblox.com/groups/13901188/Filipino-Roblox-Developers#!/about?nl=true","owner":{"buildersClubMembershipType":"None","userId":1912605079,"username":"Moxyll","displayName":"Moxyll"},"shout":{"body":"The
      top ten community vote for the Developer Dream Jam is now live! Be sure to check
      out our top games on the DevForum, and leave a vote for your favorite!","poster":{"buildersClubMembershipType":"None","userId":1912605079,"username":"Moxyll","displayName":"Moxyll"},"created":"2021-05-18T12:01:47.373Z","updated":"2022-04-01T16:24:44.633Z"},"memberCount":39962,"isBuildersClubOnly":false,"publicEntryAllowed":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB2327
    status_code: 200
version: 1
