interactions:
- request:
    body: '{"usernames": ["Boegie19", "local_ip"], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/usernames/users
  response:
    content: '{"data":[{"requestedUsername":"Boegie19","id":117091179,"name":"Boegie19","displayName":"Boegie19"},{"requestedUsername":"local_ip","id":968108160,"name":"local_ip","displayName":"jmk"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB6070
    status_code: 200
version: 1
