interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/search?cursor=&limit=10&sortOrder=Asc&keyword=123
  response:
    content: '{"previousPageCursor":null,"nextPageCursor":"eyJzdGFydEluZGV4IjoxMCwiZGlzY3JpbWluYXRvciI6ImtleXdvcmQ6MTIzIiwiY291bnQiOjEwfQpkNmZjYzFmMWMyY2UxNDY4YzA5ZmJkMGRhZmJlMWMyN2NiNzc0MDRjNTI1OWZlYTJiYTI4MTE5Yzc4MmYxMGE3","data":[{"previousUsernames":[],"id":2785008966,"name":"123Eveoco","displayName":"123s"},{"previousUsernames":[],"id":2028159946,"name":"kellehmilds","displayName":"123s"},{"previousUsernames":[],"id":409374050,"name":"ss_u","displayName":"123"},{"previousUsernames":[],"id":2626248361,"name":"NotGaeClub","displayName":"123s"},{"previousUsernames":[],"id":2466811659,"name":"Veronica_lodg3321","displayName":"123s"},{"previousUsernames":[],"id":2493573773,"name":"SunnyBrightDays","displayName":"123s"},{"previousUsernames":["RhyzTheBeast10","zTviq"],"id":123565583,"name":"I10c","displayName":"123"},{"previousUsernames":[],"id":660514103,"name":"im_noob12322","displayName":"123s"},{"previousUsernames":[],"id":942940959,"name":"ikerealisgood2","displayName":"123S"},{"previousUsernames":[],"id":126107073,"name":"AppleGamerDutch","displayName":"123"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB6
    status_code: 200
version: 1
