interactions:
- request:
    body: '{"usernames": ["John Doe"], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/usernames/users
  response:
    content: '{"data":[{"requestedUsername":"John Doe","id":2,"name":"John Doe","displayName":"John
      Doe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB9112
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/2
  response:
    content: '{"description":"","created":"2006-02-27T21:06:40.3Z","isBanned":false,"externalAppDisplayName":null,"id":2,"name":"John
      Doe","displayName":"John Doe"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB9070
    status_code: 200
version: 1
