interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://games.roblox.com/v1/games?universeIds=679715583&universeIds=2042724756
  response:
    content: "{\"data\":[{\"id\":679715583,\"rootPlaceId\":1863576952,\"name\":\"black_pantherBOYFAN's
      Place\",\"description\":\"This is your very first Roblox creation. Check it
      out, then make it your own with Roblox Studio!\",\"creator\":{\"id\":628072373,\"name\":\"black_pantherBOYFAN\",\"type\":\"User\",\"isRNVAccount\":false},\"price\":null,\"allowedGearGenres\":[\"All\"],\"allowedGearCategories\":[],\"isGenreEnforced\":true,\"copyingAllowed\":false,\"playing\":0,\"visits\":0,\"maxPlayers\":10,\"created\":\"2018-05-30T17:00:07.783Z\",\"updated\":\"2018-05-30T17:00:07.813Z\",\"studioAccessToApisAllowed\":false,\"createVipServersAllowed\":false,\"universeAvatarType\":\"MorphToR15\",\"genre\":\"All\",\"isAllGenre\":true,\"isFavoritedByUser\":false,\"favoritedCount\":0},{\"id\":2042724756,\"rootPlaceId\":5759259638,\"name\":\"[\u2744\uFE0FWINTER]
      ALPINE VALLEY [1.5M visits]\",\"description\":\"\U0001F44D UPVOTE OUR GAME TO
      SUPPORT NEW UPDATES!\\r\\n\u2796\\r\\n\u27A1\uFE0FJOIN OUR GROUP FOR ITEMS IN
      GAME: https://www.roblox.com/groups/5485871/The-Greater-Alemannic-Realm#!/about\\r\\n\u2796\\r\\nIn
      the mountainous regions of Alemannia lies an enormous underground fortress and
      factory, guarded by tanks, artillery, helicopters and all manner of war machines.
      A mountain range protects civilian life from the ongoing conflict. Cross the
      border and join the ranks!\\r\\n\u2796\\r\\n\u27A1\uFE0FMORE GAMEPASSES HERE:
      https://www.roblox.com/games/5954498673/Weapon-Gamepasses-GAR#!/store\\r\\nhttps://www.roblox.com/games/5997519941/Weapon-Gamepasses-2-GAR\\r\\nhttps://www.roblox.com/games/6002025823/Weapon-Gamepasses-3-GAR#!/store\\r\\n\u2796\\r\\n\u2B07\uFE0F
      See our SOCIAL LINKS below to join our thriving community!\",\"creator\":{\"id\":5485871,\"name\":\"The
      Greater Alemannic Realm\",\"type\":\"Group\",\"isRNVAccount\":false},\"price\":null,\"allowedGearGenres\":[\"All\"],\"allowedGearCategories\":[],\"isGenreEnforced\":true,\"copyingAllowed\":false,\"playing\":79,\"visits\":1607882,\"maxPlayers\":1,\"created\":\"2020-09-29T23:59:56.22Z\",\"updated\":\"2021-12-06T00:21:03.6176106Z\",\"studioAccessToApisAllowed\":false,\"createVipServersAllowed\":true,\"universeAvatarType\":\"MorphToR6\",\"genre\":\"All\",\"isAllGenre\":true,\"isFavoritedByUser\":false,\"favoritedCount\":14206}]}"
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB6056
    status_code: 200
version: 1
