interactions:
- request:
    body: '{"userIds": [117091179, 2, 3], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/users
  response:
    content: '{"data":[{"id":117091179,"name":"Boegie19","displayName":"Boegie19"},{"id":2,"name":"John
      Doe","displayName":"John Doe"},{"id":3,"name":"Jane Doe","displayName":"Jane
      Doe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB8776
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/117091179
  response:
    content: '{"description":"a","created":"2016-03-27T11:34:29.01Z","isBanned":false,"externalAppDisplayName":null,"id":117091179,"name":"Boegie19","displayName":"Boegie19"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB9081
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/3
  response:
    content: '{"description":"","created":"2006-02-27T21:06:40.3Z","isBanned":false,"externalAppDisplayName":null,"id":3,"name":"Jane
      Doe","displayName":"Jane Doe"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB2186
    status_code: 200
version: 1
