interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://develop.roblox.com/v1/plugins?pluginIds=4749111907
  response:
    content: '{"data":[{"id":4749111907,"name":"Roactify","description":"Design your
      components visually, and instantly convert them to Roact components with a single
      click! No more typing render code; this plugin will convert properties and children.","commentsEnabled":false,"versionId":5625897601,"created":"2020-03-03T00:50:58.963Z","updated":"2020-03-03T12:09:41.603Z"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB2415
    status_code: 200
version: 1
