interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://economy.roblox.com/v2/assets/20372960/details
  response:
    content: '{"TargetId":20372960,"ProductType":"User Product","AssetId":20372960,"ProductId":3413746,"Name":"Bed
      Hair","Description":"When both sides of the bed are the wrong side.","AssetTypeId":41,"Creator":{"Id":1,"Name":"Roblox","CreatorType":"User","CreatorTargetId":1},"IconImageAssetId":0,"Created":"2010-01-08T00:28:43.887Z","Updated":"2016-12-02T14:28:30.693Z","PriceInRobux":80,"PriceInTickets":null,"Sales":0,"IsNew":false,"IsForSale":true,"IsPublicDomain":false,"IsLimited":false,"IsLimitedUnique":false,"Remaining":null,"MinimumMembershipLevel":0,"ContentRatingTypeId":0,"SaleAvailabilityLocations":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB1464
    status_code: 200
version: 1
