interactions:
- request:
    body: '{"usernames": ["Roblox", "John Doe", "Jane Doe"], "excludeBannedUsers":
      false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/usernames/users
  response:
    content: '{"data":[{"requestedUsername":"Roblox","id":1,"name":"Roblox","displayName":"Roblox"},{"requestedUsername":"John
      Doe","id":2,"name":"John Doe","displayName":"John Doe"},{"requestedUsername":"Jane
      Doe","id":3,"name":"Jane Doe","displayName":"Jane Doe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB1037
    status_code: 200
version: 1
