interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://develop.roblox.com/v1/plugins?pluginIds=948084095
  response:
    content: '{"data":[{"id":948084095,"name":"Tag Editor","description":"An editor
      for CollectionService tags. Check out this dev forum post for more information:
      https://devforum.roblox.com/t/tag-editor-plugin/101133\n\nSource code: tiffany352/Roblox-Tag-Editor
      on GitHub. Links are censored, sorry.\n\nPM me your questions, suggestions,
      and bug reports!","commentsEnabled":false,"versionId":10562865149,"created":"2017-07-29T21:46:49.41Z","updated":"2022-01-15T20:43:02.98Z"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB7960
    status_code: 200
version: 1
