interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://badges.roblox.com/v1/badges/2124467043
  response:
    content: "{\"id\":2124467043,\"name\":\"Meet The Owner\",\"description\":\"Play
      in the same game with the owner.\\n(Given out automatically)\",\"displayName\":\"Meet
      The Owner\",\"displayDescription\":\"Play in the same game with the owner.\\n(Given
      out automatically)\",\"enabled\":true,\"iconImageId\":3144010514,\"displayIconImageId\":3144010514,\"created\":\"2019-05-04T09:35:52.59-05:00\",\"updated\":\"2020-05-30T15:41:07.9-05:00\",\"statistics\":{\"pastDayAwardedCount\":0,\"awardedCount\":8396,\"winRatePercentage\":0.0},\"awardingUniverse\":{\"id\":964540701,\"name\":\"Sound
      Space \U0001F383 SPOOKY UPDATE! \U0001F383\",\"rootPlaceId\":2677609345}}"
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB2591
    status_code: 200
version: 1
