interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://games.roblox.com/v1/games?universeIds=679715583&universeIds=2042724756
  response:
    content: "{\"data\":[{\"id\":679715583,\"rootPlaceId\":1863576952,\"name\":\"black_pantherBOYFAN's
      Place\",\"description\":\"This is your very first Roblox creation. Check it
      out, then make it your own with Roblox Studio!\",\"sourceName\":\"black_pantherBOYFAN's
      Place\",\"sourceDescription\":\"This is your very first Roblox creation. Check
      it out, then make it your own with Roblox Studio!\",\"creator\":{\"id\":628072373,\"name\":\"black_pantherBOYFAN\",\"type\":\"User\",\"isRNVAccount\":false},\"price\":null,\"allowedGearGenres\":[\"All\"],\"allowedGearCategories\":[],\"isGenreEnforced\":true,\"copyingAllowed\":false,\"playing\":0,\"visits\":0,\"maxPlayers\":10,\"created\":\"2018-05-30T17:00:07.783Z\",\"updated\":\"2018-05-30T17:00:07.813Z\",\"studioAccessToApisAllowed\":false,\"createVipServersAllowed\":false,\"universeAvatarType\":\"MorphToR15\",\"genre\":\"All\",\"isAllGenre\":true,\"isFavoritedByUser\":false,\"favoritedCount\":0},{\"id\":2042724756,\"rootPlaceId\":5759259638,\"name\":\"\u26F0\uFE0F
      [Alpine Valley] \u2744\uFE0F\",\"description\":\"\U0001F44D UPVOTE OUR GAME
      TO SUPPORT NEW UPDATES!\\r\\n\u2796\\r\\n\u27A1\uFE0FJOIN OUR GROUP FOR ITEMS
      IN GAME: https://www.roblox.com/groups/5485871/The-Greater-Alemannic-Realm#!/about\\r\\n\u2796\\r\\nEXPLORE
      the valley as a civilian, JOIN the Realm, or FIGHT against Alemannia in the
      Alpine Valley!\\r\\n\u2796\\r\\n\u27A1\uFE0FMORE GAMEPASSES[...]
