interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://groups.roblox.com/v1/groups/9695397
  response:
    content: '{"id":9695397,"name":"ro.py","description":"Sandbox group for ro.py","owner":{"buildersClubMembershipType":"None","userId":968108160,"username":"local_ip","displayName":"jmk"},"shout":{"body":"Example
      Shout","poster":{"buildersClubMembershipType":"None","userId":2067807455,"username":"ro_python","displayName":"ro_python"},"created":"2021-12-01T02:51:22.563Z","updated":"2021-12-01T02:51:22.563Z"},"memberCount":17,"isBuildersClubOnly":false,"publicEntryAllowed":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB8448
    status_code: 200
version: 1
