interactions:
- request:
    body: '{"userIds": [117091179, 2, 3], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/users
  response:
    content: '{"data":[{"id":117091179,"name":"Boegie19","displayName":"Boegie19"},{"id":2,"name":"John
      Doe","displayName":"John Doe"},{"id":3,"name":"Jane Doe","displayName":"Jane
      Doe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB1087
    status_code: 200
version: 1
