interactions:
- request:
    body: '{"usernames": ["Jane Doe"], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/usernames/users
  response:
    content: '{"data":[{"requestedUsername":"Jane Doe","id":3,"name":"Jane Doe","displayName":"Jane
      Doe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB8344
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/3
  response:
    content: '{"description":"","created":"2006-02-27T21:06:40.3Z","isBanned":false,"externalAppDisplayName":null,"id":3,"name":"Jane
      Doe","displayName":"Jane Doe"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB933
    status_code: 200
version: 1
