interactions:
- request:
    body: '{"usernames": ["local_ip"], "excludeBannedUsers": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://users.roblox.com/v1/usernames/users
  response:
    content: '{"data":[{"requestedUsername":"local_ip","id":968108160,"name":"local_ip","displayName":"jmk"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI1-WEB6070
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://users.roblox.com/v1/users/968108160
  response:
    content: "{\"description\":\"\U0001F44B hey everyone. i'm jmk, and I make web
      applications on Roblox. \\nlearn more about me and my projects on Twitter: https://twitter.com/jmkdev\",\"created\":\"2019-02-15T00:19:20.12Z\",\"isBanned\":false,\"externalAppDisplayName\":null,\"id\":968108160,\"name\":\"local_ip\",\"displayName\":\"jmk\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      roblox-machine-id:
      - CHI2-WEB1474
    status_code: 200
version: 1
